:root {
    --text-color: #cccccc;
    --text2-color: #181c62;
    --text3-color: #888888;
    --background-color: #0f111a;
    --background2-color: #ffffff;
    --background3-color: #282c36;
    --background4-color: #4f4f4f;
    --accent-color: #660eeb;
    --accent2-color: #a90082;
}

html,
body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: 0;
    font-size: 100%;
    font-family: "Inter";
    scroll-behavior: smooth;
    color: var(--text-color);
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}