main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "game_info game_info game_info" "player_list player_list player_list" "player_list player_list player_list";
}

.game_info {
    grid-area: game_info;
    display: grid;
    place-items: center;
    background-color: var(--background3-color);
}

.game_details_container {
    color: var(--text2-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    gap: 0 0.25rem;
    grid-template-areas: "join_link game_details game_pass_details game_qrcode";
}

.join_link {
    background-color: var(--background2-color);
    grid-area: join_link;
    font-size: 3rem;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
}

.join_link b {
    color: var(--accent-color);
}

.game_details {
    grid-area: game_details;
    background-color: var(--background2-color);
    font-size: 3rem;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "game_id_text" "game_id";
}

.game_id_text {
    grid-area: game_id_text;
    font-size: 50%;
}

.game_id {
    grid-area: game_id;
    font-size: 150%;
    color: var(--accent-color);
}

.game_pass_details {
    grid-area: game_pass_details;
    background-color: var(--background2-color);
    font-size: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "game_pass_text" "game_pass";
    margin-left: 0.5rem;
}

.game_pass_text {
    grid-area: game_pass_text;
    font-size: 50%;
}

.game_pass {
    grid-area: game_pass;
    font-size: 150%;
    color: var(--accent-color);
    text-align: center;
}

.game_qrcode {
    grid-area: game_qrcode;
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    padding: 0.5rem;
    background-color: var(--background2-color);
    border-radius: 1rem;
    margin-left: 0.5rem;
}

.game_qrcode * {
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.player_list {
    grid-area: player_list;
}

#player_list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    height: fit-content;
}

.player_list-item {
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0.5rem;
    background-color: var(--background2-color);
    color: var(--text2-color);
    width: fit-content;
    height: fit-content;
    border-radius: 0.5rem;
}

.start_button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.25s;
    box-shadow: 0px 0px 0.25rem 0.25rem var(--accent-color);
    display: none;
}

.start_button:hover {
    transform: translateY(4px);
}

.overlay {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--background3-color);
}

.overlay button {
    background-color: var(--background3-color);
    border: #888 1px solid;
    color: var(--text-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem;
}

.overlay button:hover,
.settings_toggle_active {
    transform: translateY(-4px);
    background-color: #888 !important;
}